In [54]:
import sys
sys.path.append('/home/iceberg/notebooks/PyCon_LT_Workshop')

from helpers.utils import get_spark_session, get_yellow_taxi_data
spark = get_spark_session("getting_started")

from minio import Minio
client = Minio(
        "minio:9000",
        access_key="admin",
        secret_key="password",
        secure=False  # Set to True if your Minio server uses TLS/SSL
    )

def print_objects_in_warehouse(bucket_name):
    objects = client.list_objects(bucket_name, recursive=True)
    for obj in objects:
        print(obj.object_name, str(obj._size//1024) + "KB")
print_objects_in_warehouse("warehouse")

staging/aggregated_taxi_per_vendor_date/data/00000-11-468eabf5-1868-4a95-8da3-a32ae67e5494-00001.parquet 1KB
staging/aggregated_taxi_per_vendor_date/data/00000-6-99449194-f5aa-4362-9fbd-36046cb8cfc6-00001.parquet 2KB
staging/aggregated_taxi_per_vendor_date/metadata/00000-1d8a7dd4-3f80-414f-879f-47c86402c5b9.metadata.json 2KB
staging/aggregated_taxi_per_vendor_date/metadata/00001-6c29b849-ba54-4933-afc3-16e55441bfd3.metadata.json 2KB
staging/aggregated_taxi_per_vendor_date/metadata/00002-e7435e6e-ac4f-41db-849a-358e5e87279c.metadata.json 2KB
staging/aggregated_taxi_per_vendor_date/metadata/00003-c494c815-5fb1-47e7-b76d-96e34b585d01.metadata.json 3KB
staging/aggregated_taxi_per_vendor_date/metadata/00004-ff22503d-3065-4054-96ff-9c58cd97151d.metadata.json 4KB
staging/aggregated_taxi_per_vendor_date/metadata/1b95b509-84f2-469b-9add-238ab160d8b4-m0.avro 6KB
staging/aggregated_taxi_per_vendor_date/metadata/e425390a-f029-4923-8727-3fe0b946d20a-m0.avro 6KB
staging/aggregated_taxi_per_vendor_date/metadata/e425390a-f029-4923-8727-3fe0b946d20a-m1.avro 6KB
staging/aggregated_taxi_per_vendor_date/metadata/snap-4450105642008677206-1-1b95b509-84f2-469b-9add-238ab160d8b4.avro 4KB
staging/aggregated_taxi_per_vendor_date/metadata/snap-4995767361060687673-1-d1a20d06-3648-4f86-978b-48d28ddec780.avro 4KB
staging/aggregated_taxi_per_vendor_date/metadata/snap-7949782257634411201-1-e425390a-f029-4923-8727-3fe0b946d20a.avro 4KB
staging/yellow_taxi/data/00000-1-53970bbb-7371-4dba-882f-ff226d23679a-00001.parquet 37251KB
staging/yellow_taxi/data/00000-627-d57d17c1-ca14-4de5-afa4-c63fb78ea005-00001.parquet 17295KB
staging/yellow_taxi/data/00000-627-d57d17c1-ca14-4de5-afa4-c63fb78ea005-00002.parquet 17373KB
staging/yellow_taxi/data/00000-627-d57d17c1-ca14-4de5-afa4-c63fb78ea005-00003.parquet 3525KB
staging/yellow_taxi/data/00001-2-53970bbb-7371-4dba-882f-ff226d23679a-00001.parquet 44630KB
staging/yellow_taxi/data/00001-628-d57d17c1-ca14-4de5-afa4-c63fb78ea005-00001.parquet 17292KB
staging/yellow_taxi/data/00001-628-d57d17c1-ca14-4de5-afa4-c63fb78ea005-00002.parquet 17265KB
staging/yellow_taxi/data/00001-628-d57d17c1-ca14-4de5-afa4-c63fb78ea005-00003.parquet 10519KB
staging/yellow_taxi/metadata/00000-26f32088-1266-46a5-86b4-b3366abaea5b.metadata.json 3KB
staging/yellow_taxi/metadata/00001-ad69dd8a-9afc-48f6-a01b-ee6617395386.metadata.json 4KB
staging/yellow_taxi/metadata/00002-d89a34de-1e11-47bd-99df-e518de5d88db.metadata.json 6KB
staging/yellow_taxi/metadata/00003-bfe4b03b-d2b1-4711-9c1b-1cde75830bcf.metadata.json 7KB
staging/yellow_taxi/metadata/00004-a1d03948-0da5-45ee-b3b2-8a1e6658d569.metadata.json 8KB
staging/yellow_taxi/metadata/00005-6bfa6dd0-83a7-4e7e-8e76-ecc11a296bf0.metadata.json 8KB
staging/yellow_taxi/metadata/00006-5a7ae5b2-e409-4d8a-b417-756e585e734b.metadata.json 10KB
staging/yellow_taxi/metadata/00007-91e8d0ba-010f-4bae-955d-f2900f176f02.metadata.json 10KB
staging/yellow_taxi/metadata/00008-f43af439-dc27-46e9-8e34-4d84194b2fe5.metadata.json 7KB
staging/yellow_taxi/metadata/00009-3c51981f-80e8-429b-a764-436a127b66b3.metadata.json 8KB
staging/yellow_taxi/metadata/00010-ae98f51a-8e4d-4b74-9639-b5c420c5a4da.metadata.json 9KB
staging/yellow_taxi/metadata/6febeaa7-a50d-4ea0-9776-a0e83daf3627-m0.avro 9KB
staging/yellow_taxi/metadata/806b0a0a-9bd7-45be-8846-b19748b8a7d7-m0.avro 8KB
staging/yellow_taxi/metadata/806b0a0a-9bd7-45be-8846-b19748b8a7d7-m1.avro 9KB
staging/yellow_taxi/metadata/ce1d6301-96ad-48d3-84d8-d121eeb001d2-m0.avro 8KB
staging/yellow_taxi/metadata/snap-1964165666083675249-1-806b0a0a-9bd7-45be-8846-b19748b8a7d7.avro 4KB
staging/yellow_taxi/metadata/snap-2204675250161940923-1-ce1d6301-96ad-48d3-84d8-d121eeb001d2.avro 4KB
staging/yellow_taxi/metadata/snap-6315308328975920781-1-6febeaa7-a50d-4ea0-9776-a0e83daf3627.avro 4KB

24/02/28 19:08:45 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [2]:
%%sql
select * from staging.yellow_taxi

24/02/28 18:53:15 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+----------+----------------------+-----------------------+-----------------+---------------+------------+--------------------+--------------+--------------+--------------+------+-------+---------+------------+--------------+-----------------------+--------------+----------------------+-------------+
| VendorID | tpep_pickup_datetime | tpep_dropoff_datetime | passenger_count | trip_distance | RatecodeID | store_and_fwd_flag | PULocationID | DOLocationID | payment_type | fare | extra | mta_tax | tip_amount | tolls_amount | improvement_surcharge | total_amount | congestion_surcharge | airport_fee |
+----------+----------------------+-----------------------+-----------------+---------------+------------+--------------------+--------------+--------------+--------------+------+-------+---------+------------+--------------+-----------------------+--------------+----------------------+-------------+
|        2 |  2022-01-16 01:28:14 |   2022-01-16 01:43:50 |             1.0 |           4.1 |        1.0 |                  N |          231 |          181 |            1 | 15.5 |   0.5 |     0.5 |       3.86 |          0.0 |                   0.3 |        23.16 |                  2.5 |         0.0 |
|        1 |  2022-01-16 01:11:01 |   2022-01-16 01:17:17 |             1.0 |           1.2 |        1.0 |                  N |          163 |           48 |            1 |  6.0 |   3.0 |     0.5 |       1.95 |          0.0 |                   0.3 |        11.75 |                  2.5 |         0.0 |
|        1 |  2022-01-16 01:21:50 |   2022-01-16 01:34:09 |             2.0 |           3.9 |        1.0 |                  N |          163 |            7 |            1 | 13.5 |   3.0 |     0.5 |        4.3 |          0.0 |                   0.3 |         21.6 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:20:23 |   2022-01-16 01:50:44 |             1.0 |         12.22 |        1.0 |                  N |          132 |          189 |            1 | 35.5 |   0.5 |     0.5 |       9.51 |          0.0 |                   0.3 |        47.56 |                  0.0 |        1.25 |
|        2 |  2022-01-16 01:45:59 |   2022-01-16 01:54:02 |             1.0 |          3.79 |        1.0 |                  N |          132 |           10 |            2 | 12.5 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |        15.05 |                  0.0 |        1.25 |
|        2 |  2022-01-16 01:00:14 |   2022-01-16 01:10:39 |             2.0 |          2.24 |        1.0 |                  N |           79 |          234 |            2 | 10.0 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |         13.8 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:11:59 |   2022-01-16 01:27:03 |             2.0 |          2.51 |        1.0 |                  N |          234 |          144 |            1 | 12.0 |   0.5 |     0.5 |       3.16 |          0.0 |                   0.3 |        18.96 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:32:14 |   2022-01-16 01:40:10 |             2.0 |          1.41 |        1.0 |                  N |          144 |          158 |            1 |  7.0 |   0.5 |     0.5 |       2.16 |          0.0 |                   0.3 |        12.96 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:47:27 |   2022-01-16 01:47:32 |             2.0 |           0.0 |        5.0 |                  N |          264 |          264 |            1 |  6.5 |   0.0 |     0.0 |        0.0 |          0.0 |                   0.3 |          6.8 |                  0.0 |         0.0 |
|        2 |  2022-01-16 01:53:43 |   2022-01-16 02:05:48 |             2.0 |          1.87 |        1.0 |                  N |          246 |          107 |            1 | 10.0 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |         13.8 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:13:49 |   2022-01-16 01:24:35 |             1.0 |           1.9 |        1.0 |                  N |          186 |          107 |            1 |  9.5 |   0.5 |     0.5 |       2.66 |          0.0 |                   0.3 |        15.96 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:28:02 |   2022-01-16 01:37:35 |             1.0 |          2.33 |        1.0 |                  N |          148 |          234 |            1 |  9.5 |   0.5 |     0.5 |       2.66 |          0.0 |                   0.3 |        15.96 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:44:21 |   2022-01-16 01:48:09 |             1.0 |          0.98 |        1.0 |                  N |          161 |           48 |            1 |  5.0 |   0.5 |     0.5 |       2.64 |          0.0 |                   0.3 |        11.44 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:50:04 |   2022-01-16 02:05:22 |             1.0 |          4.88 |        1.0 |                  N |           48 |           74 |            2 | 16.0 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |         19.8 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:56:11 |   2022-01-16 02:06:40 |             1.0 |          2.09 |        1.0 |                  N |          164 |           79 |            2 |  9.5 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |         13.3 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:47:17 |   2022-01-16 02:20:25 |             2.0 |         20.77 |        2.0 |                  N |          132 |           75 |            2 | 52.0 |   0.0 |     0.5 |        0.0 |         6.55 |                   0.3 |         63.1 |                  2.5 |        1.25 |
|        2 |  2022-01-16 01:09:35 |   2022-01-16 01:28:36 |             1.0 |          6.68 |        1.0 |                  N |          114 |          202 |            1 | 20.0 |   0.5 |     0.5 |       4.76 |          0.0 |                   0.3 |        28.56 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:09:22 |   2022-01-16 01:17:16 |             1.0 |          2.57 |        1.0 |                  N |          158 |          170 |            1 |  9.5 |   0.5 |     0.5 |       3.32 |          0.0 |                   0.3 |        16.62 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:52:46 |   2022-01-16 02:14:09 |             1.0 |          3.76 |        1.0 |                  N |          249 |           65 |            2 | 17.0 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |         20.8 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:54:12 |   2022-01-16 01:58:00 |             1.0 |          1.15 |        1.0 |                  N |           90 |          164 |            1 |  5.5 |   0.5 |     0.5 |       1.86 |          0.0 |                   0.3 |        11.16 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:39:28 |   2022-01-16 01:47:35 |             1.0 |          1.62 |        1.0 |                  N |          144 |          158 |            1 |  8.0 |   0.5 |     0.5 |       2.95 |          0.0 |                   0.3 |        14.75 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:50:27 |   2022-01-16 02:07:25 |             1.0 |          4.68 |        1.0 |                  N |          158 |          141 |            1 | 15.5 |   0.5 |     0.5 |       3.86 |          0.0 |                   0.3 |        23.16 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:04:14 |   2022-01-16 01:09:17 |             1.0 |          2.23 |        1.0 |                  N |          137 |          141 |            2 |  8.0 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |         11.8 |                  2.5 |         0.0 |
|        1 |  2022-01-16 01:07:52 |   2022-01-16 01:21:50 |             1.0 |           3.8 |        1.0 |                  N |          132 |          219 |            1 | 15.0 |  1.75 |     0.5 |       4.35 |          0.0 |                   0.3 |         21.9 |                  0.0 |        1.25 |
|        2 |  2022-01-16 01:24:31 |   2022-01-16 01:30:15 |             4.0 |          1.22 |        1.0 |                  N |           79 |          137 |            1 |  6.0 |   0.5 |     0.5 |       1.96 |          0.0 |                   0.3 |        11.76 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:39:56 |   2022-01-16 02:10:33 |             2.0 |          9.37 |        1.0 |                  N |           79 |          151 |            2 | 28.0 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |         31.8 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:08:38 |   2022-01-16 01:14:49 |             1.0 |          0.84 |        1.0 |                  N |          107 |           79 |            1 |  6.0 |   0.5 |     0.5 |       1.96 |          0.0 |                   0.3 |        11.76 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:17:01 |   2022-01-16 01:34:48 |             1.0 |          4.94 |        1.0 |                  N |           79 |          263 |            1 | 16.5 |   0.5 |     0.5 |       4.06 |          0.0 |                   0.3 |        24.36 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:29:29 |   2022-01-16 01:33:15 |             2.0 |          0.55 |        1.0 |                  N |          107 |          107 |            1 |  4.5 |   0.5 |     0.5 |       2.49 |          0.0 |                   0.3 |        10.79 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:35:29 |   2022-01-16 01:55:50 |             1.0 |          4.36 |        1.0 |                  N |          137 |           13 |            1 | 17.0 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |         20.8 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:17:49 |   2022-01-16 01:35:26 |             1.0 |          3.02 |        1.0 |                  N |           79 |          246 |            1 | 14.0 |   0.5 |     0.5 |       3.56 |          0.0 |                   0.3 |        21.36 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:50:15 |   2022-01-16 02:11:21 |             1.0 |          5.17 |        1.0 |                  N |          246 |          262 |            1 | 19.0 |   0.5 |     0.5 |       4.56 |          0.0 |                   0.3 |        27.36 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:20:02 |   2022-01-16 01:35:11 |             5.0 |          4.36 |        1.0 |                  N |          114 |          239 |            1 | 15.0 |   0.5 |     0.5 |       2.82 |          0.0 |                   0.3 |        21.62 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:00:02 |   2022-01-16 01:13:08 |             1.0 |          1.95 |        1.0 |                  N |           68 |           79 |            1 | 10.5 |   0.5 |     0.5 |       2.86 |          0.0 |                   0.3 |        17.16 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:14:26 |   2022-01-16 01:19:35 |             1.0 |          1.44 |        1.0 |                  N |           79 |          170 |            1 |  6.5 |   0.5 |     0.5 |       2.06 |          0.0 |                   0.3 |        12.36 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:31:00 |   2022-01-16 01:38:26 |             1.0 |          1.61 |        1.0 |                  N |          148 |           87 |            1 |  7.5 |   0.5 |     0.5 |       2.26 |          0.0 |                   0.3 |        13.56 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:47:30 |   2022-01-16 02:26:56 |             1.0 |         10.69 |        1.0 |                  N |          231 |          231 |            1 | 35.0 |   0.5 |     0.5 |        4.0 |          0.0 |                   0.3 |         42.8 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:31:31 |   2022-01-16 01:53:24 |             2.0 |          6.98 |        1.0 |                  N |           79 |          166 |            1 | 22.5 |   0.5 |     0.5 |       2.63 |          0.0 |                   0.3 |        30.88 |                  2.5 |         0.0 |
|        2 |  2022-01-16 00:58:58 |   2022-01-16 01:11:49 |             1.0 |          2.82 |        1.0 |                  N |          148 |          256 |            1 | 12.0 |   0.5 |     0.5 |       4.74 |          0.0 |                   0.3 |        20.54 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:23:22 |   2022-01-16 01:26:52 |             1.0 |          0.64 |        1.0 |                  N |          148 |          144 |            1 |  4.5 |   0.5 |     0.5 |       1.66 |          0.0 |                   0.3 |         9.96 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:28:19 |   2022-01-16 01:32:23 |             1.0 |          0.38 |        1.0 |                  N |          144 |          148 |            1 |  4.5 |   0.5 |     0.5 |       1.66 |          0.0 |                   0.3 |         9.96 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:40:30 |   2022-01-16 01:44:51 |             1.0 |          0.98 |        1.0 |                  N |           79 |          107 |            1 |  5.5 |   0.5 |     0.5 |       1.86 |          0.0 |                   0.3 |        11.16 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:57:59 |   2022-01-16 02:07:57 |             1.0 |          1.75 |        1.0 |                  N |          170 |           48 |            1 |  8.5 |   0.5 |     0.5 |       2.46 |          0.0 |                   0.3 |        14.76 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:05:13 |   2022-01-16 01:08:29 |             1.0 |          0.78 |        1.0 |                  N |          114 |          249 |            4 | -4.5 |  -0.5 |    -0.5 |        0.0 |          0.0 |                  -0.3 |         -8.3 |                 -2.5 |         0.0 |
|        2 |  2022-01-16 01:05:13 |   2022-01-16 01:08:29 |             1.0 |          0.78 |        1.0 |                  N |          114 |          249 |            2 |  4.5 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |          8.3 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:27:30 |   2022-01-16 01:38:11 |             1.0 |          1.75 |        1.0 |                  N |          249 |          148 |            1 |  9.5 |   0.5 |     0.5 |       2.66 |          0.0 |                   0.3 |        15.96 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:53:26 |   2022-01-16 02:08:36 |             1.0 |          4.81 |        1.0 |                  N |           79 |           13 |            1 | 16.5 |   0.5 |     0.5 |       4.06 |          0.0 |                   0.3 |        24.36 |                  2.5 |         0.0 |
|        1 |  2022-01-16 01:15:23 |   2022-01-16 01:24:12 |             1.0 |           1.9 |        1.0 |                  N |          249 |          209 |            1 |  8.5 |   3.0 |     0.5 |       2.45 |          0.0 |                   0.3 |        14.75 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:04:23 |   2022-01-16 01:08:39 |             1.0 |          1.06 |        1.0 |                  N |           90 |          246 |            2 |  5.5 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |          9.3 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:11:42 |   2022-01-16 01:19:31 |             1.0 |          1.63 |        1.0 |                  N |          246 |          164 |            2 |  8.0 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |         11.8 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:30:37 |   2022-01-16 01:47:46 |             1.0 |          6.12 |        1.0 |                  N |          230 |           87 |            1 | 19.0 |   0.5 |     0.5 |        2.0 |          0.0 |                   0.3 |         24.8 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:25:32 |   2022-01-16 01:31:36 |             1.0 |          1.22 |        1.0 |                  N |           90 |           79 |            2 |  6.5 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |         10.3 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:36:56 |   2022-01-16 01:42:17 |             1.0 |          1.46 |        1.0 |                  N |          114 |          107 |            2 |  6.5 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |         10.3 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:45:53 |   2022-01-16 01:50:16 |             1.0 |          1.09 |        1.0 |                  N |          107 |          137 |            2 |  5.5 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |          9.3 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:12:24 |   2022-01-16 01:27:21 |             1.0 |           3.2 |        1.0 |                  N |          114 |           68 |            1 | 13.0 |   0.5 |     0.5 |       3.36 |          0.0 |                   0.3 |        20.16 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:30:46 |   2022-01-16 01:37:28 |             1.0 |          1.64 |        1.0 |                  N |          186 |           79 |            1 |  7.0 |   0.5 |     0.5 |       2.16 |          0.0 |                   0.3 |        12.96 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:43:39 |   2022-01-16 01:56:30 |             1.0 |          2.27 |        1.0 |                  N |           79 |           87 |            1 | 11.0 |   0.5 |     0.5 |       2.96 |          0.0 |                   0.3 |        17.76 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:02:41 |   2022-01-16 01:12:52 |             2.0 |          2.41 |        1.0 |                  N |          249 |           87 |            1 |  9.5 |   0.5 |     0.5 |       2.66 |          0.0 |                   0.3 |        15.96 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:33:32 |   2022-01-16 01:38:07 |             2.0 |          1.12 |        1.0 |                  N |           79 |          170 |            1 |  5.5 |   0.5 |     0.5 |       1.86 |          0.0 |                   0.3 |        11.16 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:45:45 |   2022-01-16 01:52:20 |             2.0 |          1.42 |        1.0 |                  N |          107 |          249 |            2 |  7.0 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |         10.8 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:55:03 |   2022-01-16 02:24:00 |             2.0 |          7.26 |        1.0 |                  N |          249 |          198 |            1 | 25.5 |   0.5 |     0.5 |       5.86 |          0.0 |                   0.3 |        35.16 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:25:43 |   2022-01-16 01:29:22 |             1.0 |          0.89 |        1.0 |                  N |          141 |          237 |            2 |  5.0 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |          8.8 |                  2.5 |         0.0 |
|        2 |  2022-01-16 01:58:03 |   2022-01-16 02:00:34 |             1.0 |          0.56 |        1.0 |                  N |          186 |          186 |            1 |  4.0 |   0.5 |     0.5 |        1.0 |          0.0 |                   0.3 |          8.8 |                  2.5 |         0.0 |

In [55]:
%%sql
create table if not exists staging.aggregated_taxi_per_vendor_date as
select 
date(tpep_pickup_datetime) as dt,
vendorID as vendor_id,
count(1)
from staging.yellow_taxi
group by 1,2

24/02/28 19:08:52 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

++
||
++
++

In [5]:
%%sql 
select * from staging.aggregated_taxi_per_vendor_date

+------------+-----------+----------+
|         dt | vendor_id | count(1) |
+------------+-----------+----------+
| 2022-01-27 |         2 |    68648 |
| 2022-01-19 |         2 |    60001 |
| 2022-01-26 |         1 |    29906 |
| 2022-01-23 |         2 |    53871 |
| 2022-01-24 |         2 |    53371 |
| 2022-01-25 |         2 |    59934 |
| 2009-01-01 |         2 |       12 |
| 2022-01-27 |         1 |    30848 |
| 2022-01-19 |         1 |    26368 |
| 2022-01-20 |         2 |    62777 |
| 2022-01-30 |         2 |    51788 |
| 2022-01-20 |         1 |    27761 |
| 2022-01-28 |         1 |    28951 |
| 2022-01-22 |         2 |    68262 |
| 2022-01-29 |         2 |    25084 |
| 2022-01-30 |         1 |    19348 |
| 2008-12-31 |         2 |        8 |
| 2022-01-24 |         1 |    24929 |
| 2022-01-15 |         2 |    62982 |
| 2022-01-22 |         1 |    28246 |
| 2022-01-16 |         1 |    20908 |
| 2022-01-16 |         2 |    51790 |
| 2022-01-28 |         2 |    66651 |
| 2022-01-29 |         1 |     9268 |
| 2022-01-21 |         2 |    69912 |
| 2022-01-17 |         1 |    18712 |
| 2022-01-17 |         2 |    44736 |
| 2022-01-18 |         1 |    26477 |
| 2022-01-25 |         1 |    27151 |
| 2022-01-23 |         1 |    22959 |
| 2022-01-26 |         2 |    66567 |
| 2022-01-21 |         1 |    30866 |
| 2022-01-18 |         2 |    57878 |
| 2022-02-21 |         1 |    25844 |
| 2022-02-12 |         1 |    35147 |
| 2022-03-12 |         2 |        1 |
| 2022-02-13 |         2 |    66731 |
| 2022-05-15 |         2 |        2 |
| 2022-02-25 |         2 |    82885 |
| 2022-02-20 |         1 |    27092 |
| 2022-02-23 |         1 |    33752 |
| 2012-02-22 |         2 |        1 |
| 2022-02-20 |         2 |    68131 |
| 2022-02-22 |         2 |    70604 |
| 2022-02-14 |         1 |    34070 |
| 2022-02-19 |         1 |    32835 |
| 2022-02-15 |         2 |    76410 |
| 2022-02-16 |         1 |    33152 |
| 2022-02-14 |         2 |    76168 |
| 2022-02-21 |         2 |    59925 |
| 2022-02-17 |         1 |    33816 |
| 2003-01-01 |         2 |        1 |
| 2022-02-16 |         2 |    76746 |
| 2022-02-24 |         2 |    83310 |
| 2022-02-18 |         2 |    81017 |
| 2022-02-13 |         1 |    26215 |
| 2022-04-02 |         2 |        3 |
| 2022-02-17 |         2 |    78999 |
| 2022-02-18 |         1 |    34908 |
| 2022-02-22 |         1 |    30597 |
| 2022-04-23 |         2 |        3 |
| 2022-02-12 |         2 |    84388 |
| 2022-02-23 |         2 |    78161 |
| 2022-02-19 |         2 |    81439 |
| 2022-02-15 |         1 |    33738 |
| 2022-02-09 |         1 |    32246 |
| 2022-02-03 |         1 |    31559 |
| 2022-02-10 |         1 |    34093 |
| 2022-02-09 |         2 |    73459 |
| 2022-02-02 |         2 |    64422 |
| 2022-03-01 |         2 |       12 |
| 2022-04-12 |         2 |        3 |
| 2022-02-01 |         2 |    63322 |
| 2022-05-24 |         2 |        1 |
| 2022-03-22 |         2 |        2 |
| 2003-01-05 |         2 |        1 |
| 2022-02-08 |         2 |    70839 |
| 2022-05-03 |         2 |        3 |
| 2022-02-01 |         1 |    28727 |
| 2022-02-02 |         1 |    27854 |
| 2022-02-06 |         1 |    25877 |
| 2022-02-11 |         2 |    81674 |
| 2022-02-03 |         2 |    72603 |
| 2022-02-07 |         2 |    60934 |
| 2022-02-04 |         1 |    33003 |
| 2022-02-08 |         1 |    31619 |
| 2022-02-11 |         1 |    35736 |
| 2022-02-10 |         2 |    78369 |
| 2022-02-06 |         2 |    62172 |
| 2022-01-31 |         2 |    59270 |
| 2022-02-04 |         2 |    77042 |
| 2022-02-28 |         2 |    70305 |
| 2022-02-07 |         1 |    27625 |
| 2022-02-05 |         2 |    83075 |
| 2022-02-05 |         1 |    33816 |
| 2022-01-11 |         6 |      192 |
| 2022-01-16 |         6 |       84 |
| 2022-01-06 |         1 |    24388 |
| 2022-01-03 |         1 |    22530 |
| 2022-02-24 |         1 |    36362 |
+------------+-----------+----------+

In [29]:
%%sql
ALTER TABLE staging.aggregated_taxi_per_vendor_date
SET TBLPROPERTIES (
    'write.wap.enabled'='true'
)

24/02/28 19:01:33 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

++
||
++
++

In [30]:
%%sql
ALTER TABLE staging.aggregated_taxi_per_vendor_date
CREATE BRANCH manual_hot_fix

IllegalArgumentException: Ref manual_hot_fix already exists

In [19]:
spark.conf.set('spark.wap.branch', 'manual_hot_fix')

In [20]:
%%sql
delete from staging.aggregated_taxi_per_vendor_date
where vendor_id = 6

++
||
++
++

In [45]:
%%sql

SELECT vendor_id
FROM  staging.aggregated_taxi_per_vendor_date.branch_manual_hot_fix
GROUP BY vendor_id

+-----------+
| vendor_id |
+-----------+
|         5 |
|         1 |
|         2 |
+-----------+

In [46]:
%%sql

SELECT vendor_id
FROM  staging.aggregated_taxi_per_vendor_date.branch_main
GROUP BY vendor_id

+-----------+
| vendor_id |
+-----------+
|         6 |
|         5 |
|         1 |
|         2 |
+-----------+

In [32]:
print_objects_in_warehouse("warehouse")

staging/aggregated_taxi_per_vendor_date/data/00000-11-468eabf5-1868-4a95-8da3-a32ae67e5494-00001.parquet 1KB
staging/aggregated_taxi_per_vendor_date/data/00000-6-99449194-f5aa-4362-9fbd-36046cb8cfc6-00001.parquet 2KB
staging/aggregated_taxi_per_vendor_date/metadata/00000-1d8a7dd4-3f80-414f-879f-47c86402c5b9.metadata.json 2KB
staging/aggregated_taxi_per_vendor_date/metadata/00001-6c29b849-ba54-4933-afc3-16e55441bfd3.metadata.json 2KB
staging/aggregated_taxi_per_vendor_date/metadata/00002-e7435e6e-ac4f-41db-849a-358e5e87279c.metadata.json 2KB
staging/aggregated_taxi_per_vendor_date/metadata/00003-c494c815-5fb1-47e7-b76d-96e34b585d01.metadata.json 3KB
staging/aggregated_taxi_per_vendor_date/metadata/00004-ff22503d-3065-4054-96ff-9c58cd97151d.metadata.json 4KB
staging/aggregated_taxi_per_vendor_date/metadata/1b95b509-84f2-469b-9add-238ab160d8b4-m0.avro 6KB
staging/aggregated_taxi_per_vendor_date/metadata/e425390a-f029-4923-8727-3fe0b946d20a-m0.avro 6KB
staging/aggregated_taxi_per_vendor_date/metadata/e425390a-f029-4923-8727-3fe0b946d20a-m1.avro 6KB
staging/aggregated_taxi_per_vendor_date/metadata/snap-4450105642008677206-1-1b95b509-84f2-469b-9add-238ab160d8b4.avro 4KB
staging/aggregated_taxi_per_vendor_date/metadata/snap-4995767361060687673-1-d1a20d06-3648-4f86-978b-48d28ddec780.avro 4KB
staging/aggregated_taxi_per_vendor_date/metadata/snap-7949782257634411201-1-e425390a-f029-4923-8727-3fe0b946d20a.avro 4KB
staging/yellow_taxi/data/00000-1-53970bbb-7371-4dba-882f-ff226d23679a-00001.parquet 37251KB
staging/yellow_taxi/data/00000-627-d57d17c1-ca14-4de5-afa4-c63fb78ea005-00001.parquet 17295KB
staging/yellow_taxi/data/00000-627-d57d17c1-ca14-4de5-afa4-c63fb78ea005-00002.parquet 17373KB
staging/yellow_taxi/data/00000-627-d57d17c1-ca14-4de5-afa4-c63fb78ea005-00003.parquet 3525KB
staging/yellow_taxi/data/00001-2-53970bbb-7371-4dba-882f-ff226d23679a-00001.parquet 44630KB
staging/yellow_taxi/data/00001-628-d57d17c1-ca14-4de5-afa4-c63fb78ea005-00001.parquet 17292KB
staging/yellow_taxi/data/00001-628-d57d17c1-ca14-4de5-afa4-c63fb78ea005-00002.parquet 17265KB
staging/yellow_taxi/data/00001-628-d57d17c1-ca14-4de5-afa4-c63fb78ea005-00003.parquet 10519KB
staging/yellow_taxi/metadata/00000-26f32088-1266-46a5-86b4-b3366abaea5b.metadata.json 3KB
staging/yellow_taxi/metadata/00001-ad69dd8a-9afc-48f6-a01b-ee6617395386.metadata.json 4KB
staging/yellow_taxi/metadata/00002-d89a34de-1e11-47bd-99df-e518de5d88db.metadata.json 6KB
staging/yellow_taxi/metadata/00003-bfe4b03b-d2b1-4711-9c1b-1cde75830bcf.metadata.json 7KB
staging/yellow_taxi/metadata/00004-a1d03948-0da5-45ee-b3b2-8a1e6658d569.metadata.json 8KB
staging/yellow_taxi/metadata/00005-6bfa6dd0-83a7-4e7e-8e76-ecc11a296bf0.metadata.json 8KB
staging/yellow_taxi/metadata/00006-5a7ae5b2-e409-4d8a-b417-756e585e734b.metadata.json 10KB
staging/yellow_taxi/metadata/00007-91e8d0ba-010f-4bae-955d-f2900f176f02.metadata.json 10KB
staging/yellow_taxi/metadata/00008-f43af439-dc27-46e9-8e34-4d84194b2fe5.metadata.json 7KB
staging/yellow_taxi/metadata/00009-3c51981f-80e8-429b-a764-436a127b66b3.metadata.json 8KB
staging/yellow_taxi/metadata/00010-ae98f51a-8e4d-4b74-9639-b5c420c5a4da.metadata.json 9KB
staging/yellow_taxi/metadata/6febeaa7-a50d-4ea0-9776-a0e83daf3627-m0.avro 9KB
staging/yellow_taxi/metadata/806b0a0a-9bd7-45be-8846-b19748b8a7d7-m0.avro 8KB
staging/yellow_taxi/metadata/806b0a0a-9bd7-45be-8846-b19748b8a7d7-m1.avro 9KB
staging/yellow_taxi/metadata/ce1d6301-96ad-48d3-84d8-d121eeb001d2-m0.avro 8KB
staging/yellow_taxi/metadata/snap-1964165666083675249-1-806b0a0a-9bd7-45be-8846-b19748b8a7d7.avro 4KB
staging/yellow_taxi/metadata/snap-2204675250161940923-1-ce1d6301-96ad-48d3-84d8-d121eeb001d2.avro 4KB
staging/yellow_taxi/metadata/snap-6315308328975920781-1-6febeaa7-a50d-4ea0-9776-a0e83daf3627.avro 4KB

In [26]:
spark.conf.unset('spark.wap.branch')

In [44]:
%%sql
SELECT vendor_id
FROM  staging.aggregated_taxi_per_vendor_date.branch_main
GROUP BY vendor_id

+-----------+
| vendor_id |
+-----------+
|         6 |
|         5 |
|         1 |
|         2 |
+-----------+

## How to publish my changes to main then?

In [34]:
%%sql
SELECT * FROM staging.aggregated_taxi_per_vendor_date.refs

+----------------+--------+---------------------+-------------------------+-----------------------+------------------------+
|           name |   type |         snapshot_id | max_reference_age_in_ms | min_snapshots_to_keep | max_snapshot_age_in_ms |
+----------------+--------+---------------------+-------------------------+-----------------------+------------------------+
| manual_hot_fix | BRANCH | 4995767361060687673 |                    None |                  None |                   None |
|           main | BRANCH | 4450105642008677206 |                    None |                  None |                   None |
+----------------+--------+---------------------+-------------------------+-----------------------+------------------------+

In [50]:
%%sql
select * from staging.aggregated_taxi_per_vendor_date.snapshots

+----------------------------+---------------------+---------------------+-----------+--------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|               committed_at |         snapshot_id |           parent_id | operation |                                                                                                                        manifest_list |                                                                                                                                                                                                                                                                                                                                                                                                       summary |
+----------------------------+---------------------+---------------------+-----------+--------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| 2024-02-28 18:54:35.694000 | 4450105642008677206 |                None |    append | s3://warehouse/staging/aggregated_taxi_per_vendor_date/metadata/snap-4450105642008677206-1-1b95b509-84f2-469b-9add-238ab160d8b4.avro |                                                                                    {'spark.app.id': 'local-1709146324900', 'changed-partition-count': '1', 'added-data-files': '1', 'total-equality-deletes': '0', 'added-records': '236', 'total-position-deletes': '0', 'added-files-size': '2306', 'total-delete-files': '0', 'total-files-size': '2306', 'total-records': '236', 'total-data-files': '1'} |
| 2024-02-28 18:56:15.415000 | 7949782257634411201 | 4450105642008677206 | overwrite | s3://warehouse/staging/aggregated_taxi_per_vendor_date/metadata/snap-7949782257634411201-1-e425390a-f029-4923-8727-3fe0b946d20a.avro | {'added-data-files': '1', 'total-equality-deletes': '0', 'added-records': '177', 'deleted-data-files': '1', 'deleted-records': '236', 'total-records': '177', 'spark.app.id': 'local-1709146324900', 'removed-files-size': '2306', 'changed-partition-count': '1', 'total-position-deletes': '0', 'added-files-size': '2021', 'total-delete-files': '0', 'total-files-size': '2021', 'total-data-files': '1'} |
| 2024-02-28 18:58:42.233000 | 4995767361060687673 | 7949782257634411201 | overwrite | s3://warehouse/staging/aggregated_taxi_per_vendor_date/metadata/snap-4995767361060687673-1-d1a20d06-3648-4f86-978b-48d28ddec780.avro |                                                                                                                                                                 {'spark.app.id': 'local-1709146324900', 'changed-partition-count': '0', 'total-equality-deletes': '0', 'total-position-deletes': '0', 'total-delete-files': '0', 'total-files-size': '2021', 'total-records': '177', 'total-data-files': '1'} |
+----------------------------+---------------------+---------------------+-----------+--------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [52]:
query = f"""
SELECT snapshot_id
FROM staging.aggregated_taxi_per_vendor_date.refs
WHERE name = 'manual_hot_fix'
"""
wap_snapshot_id = spark.sql(query).head().snapshot_id

In [53]:
wap_snapshot_id

4995767361060687673

In [49]:
publish_query = f"CALL system.cherrypick_snapshot('staging.aggregated_taxi_per_vendor_date', {wap_snapshot_id})"

%sql $publish_query

Py4JJavaError: An error occurred while calling o36.sql.
: org.apache.iceberg.exceptions.ValidationException: Cannot cherry-pick snapshot 4995767361060687673: not append, dynamic overwrite, or fast-forward
	at org.apache.iceberg.exceptions.ValidationException.check(ValidationException.java:49)
	at org.apache.iceberg.CherryPickOperation.cherrypick(CherryPickOperation.java:126)
	at org.apache.iceberg.SnapshotManager.cherrypick(SnapshotManager.java:46)
	at org.apache.iceberg.spark.procedures.CherrypickSnapshotProcedure.lambda$call$0(CherrypickSnapshotProcedure.java:87)
	at org.apache.iceberg.spark.procedures.BaseProcedure.execute(BaseProcedure.java:107)
	at org.apache.iceberg.spark.procedures.BaseProcedure.modifyIcebergTable(BaseProcedure.java:88)
	at org.apache.iceberg.spark.procedures.CherrypickSnapshotProcedure.call(CherrypickSnapshotProcedure.java:84)
	at org.apache.spark.sql.execution.datasources.v2.CallExec.run(CallExec.scala:34)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.result$lzycompute(V2CommandExec.scala:43)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.result(V2CommandExec.scala:43)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.executeCollect(V2CommandExec.scala:49)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.Dataset.<init>(Dataset.scala:220)
	at org.apache.spark.sql.Dataset$.$anonfun$ofRows$2(Dataset.scala:100)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:97)
	at org.apache.spark.sql.SparkSession.$anonfun$sql$1(SparkSession.scala:638)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:629)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:659)
	at jdk.internal.reflect.GeneratedMethodAccessor78.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)